{% extends 'base.html.twig' %}

{% block title %}Gestion Manga{% endblock %}

{% block body %}

<div class="formGestion">

<form method="POST" id="ajoutManga">
    <h3>Ajouter un manga</h3>
    Nom * : <input type="text" name="nom" placeholder="nom du manga" required>
    Date début * : <input type="date" name="dateDebut" placeholder="date de début" required>
    Date fin : <input type="date" name="dateFin" placeholder="date de fin">
    Status : <select name="status">
        <option value="" disabled selected>Status</option>
        <option value="Not finished">Not finished</option>
        <option value="Completed">Completed</option>
    </select>
    <p></p>
    <input type="submit" value="Ajouter Manga">
</form>

<form method="POST" id="ajoutTome">
    <h3>Ajouter un tome</h3>
    <label for="manga-select">Nom du manga * :</label>
    <select name="selectManga" id="selector">
        {% for manga in data|sort((a, b) => a.nom <=> b.nom) %}
            <option value="{{manga.id}}">{{ manga.nom }}</option>
        {% endfor %}
    </select>
    Numéro * : <input type="number" name="numero" placeholder="numéro du tome" required>
    Prix * : <input type="number" step="0.01" name="prix" placeholder="prix du tome" required>
    Editeur * : <input type="text" name="editeur" placeholder="editeur du tome" required>
    Side Story : <input type="checkbox" name="sideStory" value="1" id="sideStory" onclick="display()">
    Nom Side Story : <input type="text" name="nomSideStory" placeholder="nom du side story" id="nomSideStory" disabled>
    Numéro Side Story : <input type="number" name="numeroSideStory" placeholder="numéro du side story" id="numeroSideStory" disabled>
    <p></p>
    <input type="submit" value="Ajouter Tome">
</form>

</div>
<script type="text/javascript" src="{{asset('js/gestion.js')}}"></script>

{% endblock %}
